{% extends "base.html" %}

{% block title %}{{ category|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-mobile"></span>
    <h2>{{ category }}</h2>
    <!-- add page sub title here -->
  </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row oneandhalf">

            <div class="8u">
                <div class="content">
                {% for article in articles %}
                    <section>
                        <!-- <a href="#" class="image feature"><img src="images/pic03.jpg" alt="" /></a> -->
                        <header>
                            <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                        </header>
                        <p>{{ article.summary }}</p>
                    </section>
                {% endfor %}
                </div>
            </div>


        <div class="4u">
          <div class="sidebar">
            {% for side_article in (articles_page.object_list if articles_page else articles) if side_article.category.name == category.name %}
              <section>
                <header>
                  <h3>{{ side_article.title }}</h3>
                </header>
                <p>{{ side_article.summary[:128] }}...</p>
                <footer>
                    <ul class="buttons">
                        <li><a href="/{{ side_article.url }}" class="button small">Learn More</a></li>
                    </ul>
                </footer>
              </section>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- Two -->
  {% include 'most_recent.html' %}

</article>
{% endblock content %}
