{% extends "base.html" %}

{% block sitebanner %}
  {% if page.image %}
		<style>
		  #banner { background-image: url("css/images/light-bl.svg"), url("css/images/light-br.svg"), url("css/images/overlay.png"), url({{ page.image }}); }
      #cta { background-image: url("css/images/light-tl.svg"), url("css/images/light-tr.svg"), url("css/images/overlay.png"), url({{ page.image }}); }
		</style>
		{% endif %}
{% endblock sitebanner %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-{{ page.icon }}"></span>
    <h2>{{ page.title }}</h2>
    <!-- add page sub title here -->
    {{ page.content }}
  </header>

{% include 'style2.html' %}
{% include 'style1.html' %}

</article>

{% include 'style3.html' %}
{% include 'cta.html' %}

{% endblock content %}
