
    <!-- Sidebar -->
    <div class="sidebar">
        {% for side_article in (articles_page.object_list if articles_page else articles) if side_article.category.name == article.category.name %}
            <section>
                <header>
                    <h3>{{ side_article.title }}</h3>
                </header>
                <p>{{ side_article.summary[:128]|striptags }}...</p>
                <footer>
                    <ul class="buttons">
                        <li><a href="/{{ side_article.url }}" class="button small">Learn More</a></li>
                    </ul>
                </footer>
            </section>
        {% endfor %}
    </div>
